//
// Copyright (c) 2019, Arm Limited. All rights reserved.
//
// SPDX-License-Identifier: BSD-3-Clause
//

// Default enabled rules are:

// Parse warnings and recoverable warnings related:
// Rule 2.1, Rule 2.2, Rule 3.1, Rule 3.2, Rule 4.2, Rule 5.3, Rule 5.7, Rule 8.2, Rule 17.3, Rule 20.9, Rule 20.14,

// Other default enabled rules:
// Directive 4.4, Directive 4.7, Directive 4.12, Rule 1.2, Rule 5.1, Rule 5.2, Rule 5.4, Rule 5.5, Rule 8.1, Rule 9.1,
// Rule 8.14, Rule 13.6, Rule 15.6, Rule 16.2, Rule 16.3, Rule 16.4, Rule 16.5, Rule 16.6, Rule 16.7, Rule 17.1,
// Rule 17.4, Rule 17.6, Rule 19.1, Rule 19.2, Rule 21.4, Rule 21.5, Rule 21.6, Rule 21.7, Rule 21.8, Rule 21.9,
// Rule 21.10, Rule 21.11, Rule 21.12, Rule 22.1, Rule 22.2, Rule 22.4, Rule 22.5, Rule 22.6.

// You can disable the above rules (except mandatory rules) by adding "deviation"s and "reason"s in "deviations" field.
// Mandatory rules: 9.1, 13.6, 17.3, 17.4, 17.6, 19.1, 22.2, 22.4, 22.5, 22.6.

{
    version : "2.0",
    standard : "c2012",
    title: "Coverity Compliance",
    deviations : [
    // Remove these deviations once you’re ready to go to level 2
    { deviation: "Rule 2.4",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 2.5",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 2.7",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Directive 4.6",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Directive 4.8",  reason: "We can't comply with this (advisory) rule without invasive changes to the codebase." },
    { deviation: "Directive 4.9",  reason: "This (advisory) rule flags assert(), CASSERT(), INFO()..." },
    { deviation: "Rule 5.1",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 5.8",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 8.6",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 8.7",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 11.4",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 11.5",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 15.1",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 15.5",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 15.6",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 16.1",  reason: "This rule is a superset of rule 16.3 which we cannot comply with." },
    { deviation: "Rule 16.3",  reason: "We make extensive use of unconditional return within switch clauses." },
    { deviation: "Rule 17.1",  reason: "This rule is currently disabled in the analysis configuration." },
    { deviation: "Rule 21.6",  reason: "This rule is currently disabled in the analysis configuration." }
    ]
}
